@import "tailwindcss";

@theme inline {
  --font-sans: var(--font-source-sans-pro);

  /* Color Palette */
  --color-food-yellow-1: #ffb30e;
  --color-food-white: #ffffff;
  --color-food-white-2: #f5f5f5;
  --color-food-orange-1: #f65900;
  --color-food-orange-2: #f17228;
  --color-food-orange-3: #ff7a7a;
  --color-food-red-1: #ff6868;
  --color-food-green: #79b93c;
  --color-food-dark-gray-1: #212121;
  --color-food-dark-gray-2: #424242;
  --color-food-dark-gray-3: #9e9e9e;
}

body {
  font-family: var(--font-source-sans-pro), sans-serif;
}
